.Mobile-support {
  background-attachment: fixed;
  position: relative;
  width: 750px;
  height: 396px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .Mobile-contact {
    position: absolute;
    top: 158px;
    left: 32px;
    text-align: left;
    font: normal normal 800 48px/75px Proxima Nova;
    letter-spacing: 0.96px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0.87;
  }

  .Mobile-call {
    position: absolute;
    top: 208px;
    left: 32px;
    height: 45px;
    /* UI Properties */
    font: normal normal 800 28px/38px Proxima Nova;
    letter-spacing: 1.12px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0.87;
  }
}


.Mobile-ContactData {
  height: 729px;
  width: 750px;
  background-color: #171b1e;
  border-bottom: 2px solid white;
  border-top: 2px solid white;

  .Mobile-ContactDetails {
    position: absolute;
    background-color: #171b1e;
    top: 398px;
    left: 0px;
    width: 750px;
    height: 729px;

    .heading {
      margin-top: 60px;
      margin-left: 32px;
      height: 36px;
      text-align: left;
      text-align: left;
      font: normal normal bold 24px/37px Proxima Nova;
      letter-spacing: 0.96px;
      color: #ffffff;
      text-transform: uppercase;
      opacity: 0.87;
    }
    .TextinputName {
      margin-top: 24px;
    }

    .TextinputNumber {
      margin-top: 16px;
    }
    .TextinputEmail {
      margin-top: 16px;
    }
    .TextinputHelp {
      margin-top: 16px;
    }

    .Label {
      margin-left: 32px;
      width: 43px;
      text-align: left;
      font: normal normal medium 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 0.87;
    }

    .Field {
      margin-top: 4px;
      margin-left: 32px;
      width: 350px;
      height: 50px;
      border: 1px solid #ffffffde;
      opacity: 0.87;
      color: #fff;
      background-color: #171b1e;
    }

    .FieldText {
      margin-top: 4px;
      margin-left: 32px;
      width: 349px;
      height: 172px;
      background: var(--black-high-) 0% 0% no-repeat padding-box;
      background: #171b1e 0% 0% no-repeat padding-box;
      border: 1px solid #ffffff;
      opacity: 1;
    }
    .Err {
      position: absolute;
      top: 182px;
      left: 40px;
      letter-spacing: 0.56px;
      font: normal normal 300 14px/38px Proxima Nova;
      //width: 104px;
      height: 16px;
      color: #ff4e00;
      opacity: 1;
    }

    .Err2 {
      position: absolute;
      top: 270px;
      left: 40px;
      letter-spacing: 0.56px;
      font: normal normal 300 14px/38px Proxima Nova;
      height: 16px;
      color: #ff4e00;
      opacity: 1;
    }
    .Err3 {
      position: absolute;
      top: 357px;
      left: 40px;
      letter-spacing: 0.56px;
      font: normal normal 300 14px/38px Proxima Nova;
      height: 16px;
      color: #ff4e00;
      opacity: 1;
    }
    .Err4 {
      position: absolute;
      top: 571px;
      left: 40px;
      letter-spacing: 0.56px;
      font: normal normal 300 14px/38px Proxima Nova;
      height: 16px;
      color: #ff4e00;
      opacity: 1;
    }

    .triangleB {
      position: absolute;
      top: 650px;
      left: 40px;
      width: 11px;
      height: 11px;
      border-bottom: 11px solid #ff0050;
      border-right: 11px solid transparent;
    }

    .triangleT {
      position: absolute;
      top: 615px;
      left: 185px;
      width: 11px;
      height: 11px;
      border-top: 11px solid #ff0050;
      border-left: 11px solid transparent;
    }

    .SubmitBtn {
      margin-top: 32px;
      margin-left: 40px;
      width: 156px;
      height: 48px;
      background: #ff00504d 0% 0% no-repeat padding-box;
      border: 2px solid #ff0050;
      text-align: center;
      font: normal normal medium 18px/21px Poppins;
      letter-spacing: 0.36px;
      color: #ffffff;
      opacity: 1;

      &:hover {
        background-color: #ff0050;
        cursor: pointer;
      }
    }
  }
}

.Mobile-Empty {
  height: 288px;
  width: 750px;
  background-color: #171b1e;
  border-bottom: 2px solid white;
  border-top: 2px solid white;

  .Mobile-ContactIcon {
    position: relative;
    margin-top: 0px;
    margin-left: 32px;
    width: 264px;
    height: 228px;
  
    .details {
      position: absolute;
      left: 28px;
      top: 10px;
    }
  
    .d {
      margin-left: 50px;
      text-align: left;
      font: normal normal medium 18px/21px Poppins;
      letter-spacing: 0.36px;
      color: #ffffff;
      opacity: 0.87;
      margin-bottom: 5px;
    }
  
    .N {
        margin-left: 50px;
      text-align: left;
      font: normal normal 300 18px/21px Poppins;
      letter-spacing: 0.36px;
      color: #ffffff;
      opacity: 0.6;
      margin-bottom: 38px;
    }
    .PhoneIcon {
      width: 48px;
      height: 48px;
      border: 2px solid #ff0050;
      background: #ff00504d 0% 0% no-repeat padding-box;
      border: 2px solid #ff0050;
      opacity: 1;
  
      .triangleB {
        position: absolute;
        top: 35px;
        width: 11px;
        height: 11px;
        border-bottom: 11px solid #ff0050;
        border-right: 11px solid transparent;
      }
  
      .triangleT {
        position: absolute;
        top: 2px;
        left: 37px;
        width: 11px;
        height: 11px;
        border-top: 11px solid #ff0050;
        border-left: 11px solid transparent;
      }
    }
  
    .SendIcon {
      margin-top: 40px;
      width: 48px;
      height: 48px;
      border: 2px solid #ff0050;
      background: #ff00504d 0% 0% no-repeat padding-box;
      border: 2px solid #ff0050;
      opacity: 1;
  
      .triangleB {
        position: absolute;
        top: 125px;
        width: 11px;
        height: 11px;
        border-bottom: 11px solid #ff0050;
        border-right: 11px solid transparent;
      }
  
      .triangleT {
        position: absolute;
        top: 87.5px;
        left: 37px;
        width: 11px;
        height: 11px;
        border-top: 11px solid #ff0050;
        border-left: 11px solid transparent;
      }
    }
  
    .LocationIcon {
      margin-top: 40px;
      width: 48px;
      height: 48px;
      border: 2px solid #ff0050;
      background: #ff00504d 0% 0% no-repeat padding-box;
      border: 2px solid #ff0050;
      opacity: 1;
  
      .triangleB {
        position: absolute;
        top: 211px;
        width: 11px;
        height: 11px;
        border-bottom: 11px solid #ff0050;
        border-right: 11px solid transparent;
      }
  
      .triangleT {
        position: absolute;
        top: 178px;
        left: 37px;
        width: 11px;
        height: 11px;
        border-top: 11px solid #ff0050;
        border-left: 11px solid transparent;
      }
    }
  }
}
