.Mobile-footer {
  width: 750px;
  height: 368px;
  background: grey 0% 0% no-repeat padding-box;
  background: #22282d 0% 0% no-repeat padding-box;
  opacity: 1;

  .Mobile-brand {
    margin-top: 60px;
    margin-left: 32px;
    height: 16px;
    opacity: 1;
  }

  .Mobile-copyright {
    margin-top: 12px;
    height: 20px;
    font: normal normal 300 14px/21px Poppins;
    letter-spacing: 0.56px;
    color: #ffffff;
    opacity: 0.48;
  }

  .Mobile-icon {
    top: 140px;
    left: 35px;
    position: absolute;
    flex-direction: row;
    display: flex;

    .Mobile-facebook {
      width: 10px;
      height: 20px;
    }

    .Mobile-instagram {
      width: 20px;
      height: 20px;
      margin-left: 25px;
    }

    .Mobile-twitter {
      width: 25px;
      height: 20px;
      margin-left: 25.38px;
    }

    .Mobile-linkedin {
      width: 20px;
      height: 20px;
      margin-left: 26.25px;
    }

    .Mobile-youtube {
      width: 29px;
      height: 20px;
      margin-left: 20px;
    }
  }
  nav {
    position: relative;
    color: #fff;
    flex-direction: column;
    display: flex;
    
    
  }

  .Mobile-model {
    height: 23px;
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 1.28px;
    color: #ffffff;
    opacity: 1;
    margin-top: 144px;
    margin-left: 32px;
  }

  .Mobile-more {
    height: 23px;
    font: normal normal 600 16px/25px Poppins;
    letter-spacing: 1.28px;
    color: #ffffff;
    opacity: 1;
    margin-top: -22px;
    margin-left: 215px;
  }

  ul,
  .Mobile-link {
    list-style: none;
    text-decoration: none;
    margin-top: 18px;
    text-align: left;
    font: normal normal 300 15px/23px Poppins;
    letter-spacing: 1.2px;
    color: #ffffff;
    opacity: 0.6;
  }

  li {
    text-transform: uppercase;
  }

  .Mobile-link {
    font-size: 14px;
    transition: 0.5s ease all;
    padding-bottom: 4px;
    border-bottom: 1 pc solid transparent;

    &:hover {
      color: #ff0050;
      border-color: #ff0050;
    }
  }

  
}

